In [29]:
import pandas as pd
import csv
from pandas import DataFrame,Series

In [9]:
tra_df = pd.read_csv('datas/train/trajectories(table_5)_training.csv')
vol_df = pd.read_csv('datas/train/volume(table_6)_training.csv')

In [14]:
tra_df.travel_seq = tra_df.travel_seq.map(lambda seq:seq.split(';'))

In [53]:
trajectories = []
with open('datas/train/trajectories(table_5)_training.csv') as csvfile:
    csvreader = csv.DictReader(csvfile)
    for row in csvreader:
        travel_seq = row["travel_seq"].split(";")
        for travel in travel_seq:
            cur_row = row.copy()
            cur_row["total_travel_time"] = cur_row["travel_time"]
            link_id,enter_time,travel_time = travel.split("#")
            cur_row["link_id"] = link_id
            cur_row["enter_time"] = enter_time
            cur_row["travel_time"] = travel_time
            cur_row["travel_seq"] = ','.join(map(lambda s:s.split("#")[0],travel_seq))
            trajectories.append(cur_row)

In [55]:
tra_m_df = DataFrame(trajectories)

In [57]:
tra_m_df.head()

,enter_time,intersection_id,link_id,starting_time,tollgate_id,total_travel_time,travel_seq,travel_time,vehicle_id
0,2016-07-19 00:14:24,B,105,2016-07-19 00:14:24,3,70.85,"105,100,111,103,122",9.56,1065642
1,2016-07-19 00:14:34,B,100,2016-07-19 00:14:24,3,70.85,"105,100,111,103,122",6.75,1065642
2,2016-07-19 00:14:41,B,111,2016-07-19 00:14:24,3,70.85,"105,100,111,103,122",13.00,1065642
3,2016-07-19 00:14:54,B,103,2016-07-19 00:14:24,3,70.85,"105,100,111,103,122",7.47,1065642
4,2016-07-19 00:15:02,B,122,2016-07-19 00:14:24,3,70.85,"105,100,111,103,122",32.85,1065642

In [60]:
tra_m_df.to_csv('datas/train/merged_trajectories(table_5)_training.csv',index=False,)